ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.header-links {
    display: flex;
    gap: 20px;
}
